{% if  enable_zk_config == true %}
<yandex>
    <zookeeper>
          <node index="1">
            <host>{{ groups['zookeeper-nodes'][0] }}</host>
            <port>2181</port>
          </node>

          <node index="2">
            <host>{{ groups['zookeeper-nodes'][1] }}</host>
            <port>2181</port>
          </node>
          <node index="3">
            <host>{{ groups['zookeeper-nodes'][2] }}</host>
            <port>2181</port>
          </node>
    </zookeeper>
</yandex>
{% endif %}
