<yandex>
    <zookeeper>
          <node index="1">
            <host>"{{ groups['clickhouse-cluster'][0] }}"</host>
            <port>2181</port>
          </node>

          <node index="2">
            <host>"{{ groups['clickhouse-cluster'][1] }}"</host>
            <port>2181</port>
          </node>
          <node index="3">
            <host>"{{ groups['clickhouse-cluster'][2] }}"</host>
            <port>2181</port>
          </node>
    </zookeeper>
</yandex>